force-app/main/default/flows/Check_Attach_Deployment_File_on_Deployment_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_User_Story_Id_to_List</name>
        <label>Add User Story Id to List</label>
        <locationX>270</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>userStoryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Promoted_User_Stories.copado__User_Story__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Promoted_User_Stories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Story_Record_Count</name>
        <label>Assign User Story Record Count</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>userStoryRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_User_Stories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_userStoryCount_Greater_Than_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_userStoryCount_Greater_Than_0</name>
        <label>Is userStoryCount Greater Than 0</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_is_greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userStoryRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Attach_deployment_file</targetReference>
            </connector>
            <label>Count is greater than 0</label>
        </rules>
    </decisions>
    <interviewLabel>Check Attach Deployment File on Deployment Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Attach Deployment File on Deployment Record</label>
    <loops>
        <name>Loop_Promoted_User_Stories</name>
        <label>Loop Promoted User Stories</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Promoted_User_Stories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_User_Story_Id_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_User_Stories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Promoted_User_Stories</name>
        <label>Get Promoted User Stories</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Promoted_User_Stories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Promotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Promotion__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promoted_User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Stories</name>
        <label>Get User Stories</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_Story_Record_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>userStoryIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Promote_and_Deploy__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Check_Attach_deployment_file</name>
        <label>Check Attach deployment file</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>copado__Attach_Deployment_File__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Promoted_User_Stories</targetReference>
        </connector>
        <object>copado__Deployment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>userStoryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userStoryRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
