force-app/main/default/flows/Scheduled_Idea_Bulut_File_Remover.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Collect_Content_Document_Ids</name>
        <label>Collect Content Document Ids</label>
        <locationX>264</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Content_Versions.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Content_Versions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Deployment_Ids_to_List</name>
        <label>Collect Deployment Ids to List</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>deploymentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Deployments.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Deployments</targetReference>
        </connector>
    </assignments>
    <description>This flow runs weekly to delete Deploy files related to the successful deployments</description>
    <environments>Default</environments>
    <interviewLabel>Scheduled Idea Bulut File Remover {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Idea Bulut File Remover</label>
    <loops>
        <name>Loop_Content_Versions</name>
        <label>Loop Content Versions</label>
        <locationX>176</locationX>
        <locationY>852</locationY>
        <collectionReference>Get_Files_Related_to_Deployments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Content_Document_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Files_Related_to_Successful_Deployments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Deployments</name>
        <label>Loop Deployments</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_Successful_Deployments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Deployment_Ids_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Files_Related_to_Deployments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Files_Related_to_Successful_Deployments</name>
        <label>Delete Files Related to Successful Deployments</label>
        <locationX>176</locationX>
        <locationY>1188</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>contentDocumentIds</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Files_Related_to_Deployments</name>
        <label>Get Files Related to Deployments</label>
        <locationX>176</locationX>
        <locationY>732</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Content_Versions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstPublishLocationId</field>
            <operator>In</operator>
            <value>
                <elementReference>deploymentIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Deploy</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Successful_Deployments</name>
        <label>Get Successful Deployments</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Deployments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed Successfully</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Deployment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Successful_Deployments</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-04-24</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>contentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deploymentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
